*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #333;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.cart-record{
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    width: 460px;
    height: 100%;
    background: #fff;
    transition: 0.5s;
}


.cart-record.active{
    right: 0;
}

.cart-record.active .checkout{
    align-self: center;
    text-align: center;
    width: 100px;
    margin-left: 150px;
    font-size: 15px;
    right: 34px;
    margin-top: 32px;
    background-color: orange;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.total{
    border-top: 1px solid black;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.cart-record i{
    position: relative;
    left: 375px;
    top: 10px;
}



.cart-record h2{
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
}
.post{
    padding: 15px;
    /* text-wrap: left; */
    


}

.cart-record img{
    width: 100px;
    height: 100px;
}

.product-quantity{
    margin-top: 5px;
    width: 100px;
    border: 0.1px solid black;
    height: fit-content;
}

.product-quantity button{
    width: 35px;
    height: 20px;
    border: none;
    background: white;
    cursor: pointer;
    font-size: 20px;
}

.product-quantity #increment{
    border-left: 0.1px solid black;
    height: fit-content;
}

.product-quantity #decrement{
    border-right: 0.1px solid black;
    height: fit-content;
}

.product-block{
    padding: 10px;
}

.product-delete {
    left: 0;
    right: 100px;
    
}

.product-block i{
    font-size: 20px;
}

.logo{
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

#cart-icon{
    font-size: 24px;
    color: #333;
    cursor: pointer;
    position: relative;
}

#cart-item-count{
    position: absolute;
    top: 0px;
    right: -6px;
    background: red;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}



.shop {
    padding: 100px 9% 30px;
}

.section-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.product-container{
    padding-left: 20px;
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px; 
}

.product-card{
    width: 280px;
}

.product-img{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
}

.product-img img{
    width: 100%;
    transition: 0.5s;
}

.product-img:hover img{
    transform: scale(1.1);
}

.product-title{
    font-size: 20px;
    margin-top: 10px;
}

.price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 18px;
    font-weight: 500;
}

.price-cart i{
    padding: 10px;
    background: #e35f26;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}